<app-cabecera>  </app-cabecera>
<p-tabMenu [model]="items" [activeItem]="items[0]"></p-tabMenu>
<app-listado-productos *ngIf="listaProductos" [productos]="productos" [sucursales]="sucursales" [usuarios]="usuarios"></app-listado-productos>
<app-listado-sucursales *ngIf="listaSucursales" [productos]="productos" [sucursales]="sucursales"></app-listado-sucursales>
<app-listado-usuarios *ngIf="listaUsuarios" [esLov]="false" [productos]="productos" [sucursales]="sucursales" [usuarios]="usuarios"></app-listado-usuarios>
<app-listado-movimientos *ngIf="listaMovimientos" [esLov]="false" [movimientos]="movimientos" [productos]="productos" [sucursales]="sucursales"></app-listado-movimientos>
