<p-table *ngIf="!sucursalesService.muestraAbm" #dt [columns]="cols" [value]="sucursales" sortMode="multiple" [paginator]="true" [rows]="6">
    <ng-template pTemplate="caption">
      <p-toolbar>
        <div class="ui-toolbar-group-left">
          <button *ngIf="usuariosService.esAdmin()" type="button" #btn pButton icon="pi pi-plus" (click)="habilitaAbm(true)"></button>
          <button *ngIf="sucursalSeleccionada != null && usuariosService.esAdmin()" type="button" #btn pButton icon="pi pi-pencil" (click)="habilitaAbm(false)" style="margin-left: 2px;"></button>
          <button *ngIf="sucursalSeleccionada != null" type="button" #btn pButton icon="pi pi-users" (click)="muestraUsuarios(true)" style="margin-left: 2px;"></button>
        </div>
        <div class="ui-toolbar-group-right">        
            <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="Filtro global" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
      </p-toolbar>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field" [pSortableColumnDisabled]="col.field === 'photoURL'">
            {{col.header}}
            <p-sortIcon *ngIf="col.field != 'photoURL'" [field]="col.field"></p-sortIcon>
          </th>
        </tr>
        <tr>
          <th *ngFor="let col of columns">
            <input *ngIf="col.field != 'photoURL'" style="width: 100%;" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
          </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr *ngIf="usuariosService.esAdmin() || rowData['sucursal'] == usuariosService.getSucursal()" [ngClass]="(sucursalSeleccionada != null && rowData.idCollection == sucursalSeleccionada.idCollection) ? 'filaSeleccionada' : null" (click)="eligeSucursal($event, rowData)">
        <td *ngFor="let col of columns">
          <p *ngIf="col.field != 'photoURL'">{{rowData[col.field]}}</p>
          <img *ngIf="col.field == 'photoURL'" src="{{rowData[col.field]}}" alt="" style="width: 25%;">
        </td>
      </tr>
    </ng-template>
</p-table>

<app-abm-sucursal *ngIf="sucursalesService.muestraAbm" [sucursal]="sucursalSeleccionada"></app-abm-sucursal>

<p-dialog *ngIf="sucursalSeleccionada != null" header="Usuarios" [(visible)]="verUsuarios" [modal]="true" [responsive]="true" [style]="{width: '800px', minWidth: '200px'}" [minY]="70" 
        [maximizable]="false" [baseZIndex]="10000">

      <app-listado-usuarios [esLov]="true" [usuarios]="sucursalSeleccionada.usuariosSucursal"></app-listado-usuarios>

      <p-footer>
          <button type="button" pButton icon="pi pi-times" (click)="muestraUsuarios(false)" label="Cerrar" class="ui-button-secondary"></button>
      </p-footer>
</p-dialog>